node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
pocketbase/pocketbase
pocketbase/pb_data/data.db
pocketbase/pb_data/data.db-shm
pocketbase/pb_data/data.db-wal
pocketbase/pb_data/logs.db
pocketbase/pb_data/logs.db-shm
pocketbase/pb_data/logs.db-wal
pocketbase/pb_data/types.d.ts
pocketbase/CHANGELOG.md
pocketbase/LICENSE.md
